.admin-container {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 647px;
  height: 597px;
  margin-top: -298.5px;
  margin-left: -323.5px;
  border-radius: 12px;
  background-color: rgba(28,18,70, 42%);
  overflow: hidden;
}

.admin-container h1 {
  opacity: 1;
  color: #fff;
  font-size: 60px;
  text-align: center;
  width: 100%;
}
